body {
    background-color: #111;
    overflow: hidden;
}
.container {
    position: absolute;
    background-color: rgb(30, 36, 63);
    inset: 0;
    perspective: 500px;
}
.container .hearts {
    position: absolute;
    /* background-color: green; */
    width: 160px;
    height: 160px;
    inset: 0;
    margin: auto;
    transform-style: preserve-3d;
    animation: entrance 10s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
.container i {
    color: rgba(236, 114, 114, 0.751);
    font-size: 1000%;
    display: block;
    position: absolute;
}
.container i:nth-child(1) {
    transform: translateZ(-800px);
    opacity: .2;
}
.container i:nth-child(2) {
    transform: translateZ(-600px);
    opacity: .4;
}
.container i:nth-child(3) {
    transform: translateZ(-400px);
    opacity: .6;
}
.container i:nth-child(4) {
    transform: translateZ(-200px);
    opacity: .8;
}
@keyframes entrance {
    from{
        transform: translateZ(-1000px);
    }
    to{
        transform: translateZ(2000px);
    }
}