body {
    background-color: #222;
    margin: 0;
}
.container {
    border: 1px solid white;
    width: 600px;
    height: 400px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container img {
    width: 100px;
    border: 5px solid whitesmoke;
}
.container img:nth-child(1),
.container img:nth-child(5)
 {
    align-self: start;
}
.container img:nth-child(3){
    align-self: end;
}