body{
    margin: 0;
    font-family: sans-serif;
    background-color: #333;
}
a {
    text-decoration: none;
}
.navbar  {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 2fr 5fr;
}
.navbar .dropdown {
    display: none;
    grid-row: 3;
    grid-column: 2 / 12;

}
.navbar .options {
    background-color: #555;
    display: none;
    grid-row: 3;
    grid-column: 11 / 12;
}
.navbar .options a {
    color: white;
}
.navbar .options:target {
    display: block;
}
.navbar .dropdown:target {
    display: block;
}
.navbar .nav {
    background-color: #DDD;
    grid-column: 2 / 12;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 1%;
}
.navbar .nav .brand {
    grid-column:1 / 5;
}
.navbar .nav a {
    color: black;
}
.navbar .nav, .navbar .top {
    align-items: center;
}
.navbar .nav a:not(:first-child),
.navbar .top a:not(:first-child) {
    text-align: right;
}
.navbar .nav .brand img {
    width: 2em;
    height: 75%;
}
.navbar .top{
    background-color: #777;
    grid-column: 2 / 12;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 1%;
}
.navbar .top a {
    color: black;
}
.navbar .top .hours {
    grid-column: 2 / 12;
    text-align: right;
}