$flake-color: #458;
$flake-layer-color: #234;
$flake-size: 7px;
$duration-fall: 20s;
body {
    overflow: hidden;
    background-color: $flake-layer-color;
}
.flake-layer {

    position: absolute;
    inset: 0;
    .flake {

        border-radius: $flake-size;
        position: absolute;
        top: -$flake-size * 2;
        animation: fall $duration-fall linear infinite;
        
        @keyframes fall {
            from{top:-$flake-size * 2;}
            to{top: 100%}
        }
        
        @for $n from 1 through 100 {
            &:nth-child(#{$n}) {
                left: 1% * random($limit: 100);
                animation-delay: $duration-fall * random();

                $sizeK: 0.5+random();
                animation-duration: $duration-fall * 1 / $sizeK;
                width: $flake-size * $sizeK;
                height: $flake-size* $sizeK;

                background-color: lighten($flake-color, $sizeK * 45%);
            }
        }
    }
}