body, figure, h2 {
    margin: 0;
}
.carousel a {
    text-decoration: none;
}
/* Styling DESKTOP */
.carousel {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 20px;
    
}
.carousel figcaption {
    width: 100%;
    text-align: center;
    align-self: start;
}
.carousel h2 {
    font: 200% Arial;
}

/* Styling MOBILE */
@media (max-width: 1260px) {
    
    .carousel img:nth-child(2),
    .carousel img:nth-child(3){
        display: none;
    }
}